* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  /* ----------------------
      Timeline
  ------------------------*/
 

  .parallax-window {
    min-height: 200px;
    background: transparent;
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.parallax-window-half {
    min-height: 100px;
    background: transparent;
} 
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(35,39,65);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
 
  .wrap {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 20px;
  }
  
  /* header {
    position: relative;
    z-index: 999;
  }
   */
  section {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(35,39,65);
  }
  
  section.intro {
    text-align: center;
  }
  
  section.intro h2,
  section.intro h5 {
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #222;
  }
  
  h1 {
    font-size: 8vw;
    font-family: serif;
    font-weight: bold;
  }
  
  p {
    line-height: 1.4;
    margin-bottom: 18px;
  }
  
  /* body.dragging section {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
  
  .slider-navigation {
    position: fixed;
    top: 5%;
    right: 1vw;
    height: 90%;
    width: 4px;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .slider-navigation .tick {
    display: none;
    position: relative;
    cursor: pointer;
    height: 4px;
    width: 20px;
    background: #222;
  }
  
  .slider-navigation .tick:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 40px;
    width: 100%;
    z-index: -1;
  }
  
  .slider-navigation .nav-pointer {
    position: absolute;
    top: 0;
    right: 0;
    background: #222;
    color: white;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 8px;
    cursor: pointer;
    height: 22px;
    width: 44px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .slider-navigation .nav-pointer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 40px;
    width: 100%;
    z-index: -1;
  }
  
  body.dragging {
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  body.dragging .nav-pointer {
    -webkit-transition: none;
    transition: none;
  } */
  
#particles-js img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 0 0 2px #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: pulse 2s;
  animation: pulse 2s;
}

#particles-js img:hover{
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

#particles-js h1{
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#particles-js h1:hover{
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

#particles-js p{
  position: absolute;
  top: 72%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#particles-js h5{
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  width: fit-content;
  position: absolute;
  left: 40%;
  top: 90%;
  text-transform: uppercase;
  cursor: pointer;
}


/* SECTION-2 TRANSACTIONS */
.wallet{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.transaction{
  width: 60%;
  height: 100%;
}

.wallet .walletcard{
  width: 55%;
  height: 55%;
  background: #1a1a1a;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
  border: 2px solid #FF5722;
  padding: 20px;
  display: block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#logo2{
  width: 50px;
  height: 50px;
}
#balance{
  float: right;
  margin-right: 20px;
}
#pukey{
  float: right;
  margin-right: 20px;
}

.wallet .walletcard header h1{
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 300;
  color: #FF5722;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.wallet .walletcard .walletcontent{
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 1.5rem;
}

.wallet .walletcard .walletcontent p{
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-size: 1.6rem;
  margin: 0px;
  padding: 0px;
}


.wallet .walletcard .walletcontent button{
  width: 100px;
  padding: 0px;
  height: 50px;
  margin: 20px 0px 0px 0px;
  background: #1a1a1a;
  color: white;
  border-radius: 10px;
  border: 2px solid #FF5722;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.transaction .transactioncard{
  width: 90%;
  height: 90%;
  background: #1a1a1a;
  border-radius: 50px;
  margin: 35px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 2px solid #FF5722;
  padding: 20px;
  display: block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.transaction .transactioncard header h1{
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 300;
  color: #FF5722;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.transaction .transactioncard .transactioncontent{
  width: 100%;
  height: 96%;
  color: #fff;
  font-size: 1.5rem;
}

.transaction .transactioncard .transactioncontent p{
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-size: 1.6rem;
  margin: 0px;
  padding: 0px;
}
/* .transaction .transactioncard .transactioncontent ul{
  list-style: none;
  padding: 15px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;

} */

.transaction .transactioncard .transactioncontent table{
  width: 100%;
  font-weight: 50;
}

.transaction .transactioncard .transactioncontent table tr{
  border-bottom: 1px solid #FF5722;
}

/*  SECTION3 TRENDS  */

.section3{
  background-color: #000;
}