* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .wrap {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 20px;
  }
  
  header {
    position: relative;
    z-index: 999;
  }
  
  section {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  section.intro {
    text-align: center;
  }
  
  section.intro h2,
  section.intro h5 {
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #222;
  }
  
  h1 {
    font-size: 8vw;
    font-family: serif;
    font-weight: bold;
  }
  
  p {
    line-height: 1.4;
    margin-bottom: 18px;
  }
  .unselectable{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  

  .logincard h1,
  .logincard h2 {
    font-weight: 500;
    margin: 0px 0px 5px 0px;
  }
  
  .logincard h1 {
    font-size: 26px;
  }
  
  .logincard h2 {
    font-size: 16px;
  }

  .logincard {
    background: #FFB300;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }

  .logincard header h1 {
    color: #FF5722;
  }
  .logincard header h2 {
    color: #ffffff;
  }  
  .logincard header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
  }
  
  .logincard header a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
    animation: scaleIn 0.3s 3.5s ease forwards;
  }
  
  .logincard header a > img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  }
  
  .logincard header a:hover > img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  }
  
  .logincard .loginForm {
    width: 100%;
    height: 120px;
    display: inline-block;
    float: none;
    padding: 50px 20px 30px 20px;
    background: #1a1a1a;
    color: #ffffff;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
  }


  .logincard .loginForm .form-info{
    background: #1a1a1a;
    color: white;
    width: 80%;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
}
.logincard .loginForm .form-info:focus{
  outline: none;
}
.send-button{
  width: 100px;
  padding: 0px;
  height: 30px;
  margin: 0px;
  background: #1a1a1a;
  color: white;
  border-radius: 10px;
}
  
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(35,39,65);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  

  @-webkit-keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @-webkit-keyframes borderRadius {
    0% {
      -webkit-border-radius: 50%;
    }
    100% {
      -webkit-border-radius: 0px;
    }
  }
  
  @keyframes borderRadius {
    0% {
      -webkit-border-radius: 50%;
    }
    100% {
      border-radius: 0px;
    }
  }
  
  @-webkit-keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @-webkit-keyframes moveUp {
    0% {
      background: #FFB300;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #1a1a1a;
    }
  }
  
  @keyframes moveUp {
    0% {
      background: #FFB300;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #1a1a1a;
    }
  }
  
  @-webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 75%;
      height: 75%;
      background: #1a1a1a;
      color: white;
      -webkit-border-radius: 20px;
    }
  }
  
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 75%;
      height: 75%;
      background: #1a1a1a;
      color: white;
      border-radius: 20px;
    }
  }
  
  @-webkit-keyframes moveIn {
    0% {
      margin-top: 50px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -20px;
    }
  }
  
  @keyframes moveIn {
    0% {
      margin-top: 50px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -20px;
    }
  }
  
  @-webkit-keyframes scaleIn {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes ripple {
    0% {
      transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
      -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
      transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0;
    }
  }


  #user{
    position: absolute;
    top: 50px;
    right: 95px;
    border-radius: 50%;
  }
  
  
  #user #userImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  #user img:hover{
    width: 60px;
    height: 60px;
    opacity: 0.7;
  }
  
  .dropdown-content{
    display: none;
    position: absolute;
    top: 100px;
    right: 85px;
    color: #fff;
    background-color: #1a1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 20px;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 20px;
    color: #1a1a1a;
  }
  
  .show {
    display: block;
  }

  #intro img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    box-shadow: 0 0 0 2px #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: pulse 2s;
    animation: pulse 2s;
  }
  
  #intro img:hover{
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      -webkit-transform: translate(-50%, -50%) scale(1.2);
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  @keyframes pulse {
    0% {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      -webkit-transform: translate(-50%, -50%) scale(1.2);
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
  }
  table {
    /* width: 688px; 688 = column widths 80 + 56 + 280 + 120 + 56 + 96 + 60(padding)*/
    min-width: 980px;
    max-width: 1000px;
    table-layout: fixed;
    font: 12px Courier;
    border-collapse: collapse;
    margin-top: 35px;
}

table,
th,
td {
    border: 2px solid black;
    padding: 5px;
}

tbody {
    display: block;
    /* max-width: 763px; */
    /* 763 = 688 table width + 60(padding) + 15 extra for scrollbar */
    overflow-y: scroll;
    height: 200px;
}

thead tr {
    display: block;
}


th:nth-child(1),
td:nth-child(1) {
    text-align: center;
    min-width: 400px;
    max-width: 400px;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: left;
    min-width: 200px;
    max-width: 200px;
}

th:nth-child(3),
td:nth-child(3) {
    text-align: left;
    min-width: 200px;
    max-width: 200px;
}

th:nth-child(4),
td:nth-child(4) {
    text-align: left;
    min-width: 200px;
    max-width: 200px;
}